.changechild__wrapper {

  .changechild {
    @include span-columns(4);
    @include omega(3n);
    background-color: $stack-fourth;
    text-align: center;
    margin-top: $norm;
    margin-bottom: $norm;
    padding: $large 0 0 0;

    .child__image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 4px $snow-white;
    }

    span {
      display: block;
      margin-top: $small;
    }

    .child__name {
      font-family: $opensansregular;
      margin-top: $norm;
    }

    .child__group {
      font-size: basepx(14);
    }

    .child__expired {
      margin: $norm 0 $large 0;
      margin-bottom: $large;
      font-size: basepx(14);
      font-family: $opensansitalic;
    }

    .btn {
      width: 100%;
    }

    @include respond-to(desktop) {

      @include span-columns(3);
      @include omega-reset(3n);
      @include omega(4n);

      .child__image {
        width: 60px;
        height: 60px;
      }

      .child__name {
        font-size: basepx(18);
      }

      .child__group {
        font-size: basepx(15);
      }

      .child__expired {
        font-size: basepx(15);
      }
    }
  }

  .changechild--add {
    height: 252px;
    position: relative;
    z-index: 0;
    clear: none !important;

    &:before {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      width: 24px;
      height: 24px;
      background-position: -96px -96px;
      top: 50%;
      margin-top: -40px;
      left: 50%;
      margin-left: -12px;
    }

    a {
      height: 100%;
      width: 100%;
      display: block;
      z-index: 1;
    }

    span {
      display: block;
      margin-top: $small;
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: $opensansregular;
      color: $stack-text;
      @include transform(translate(-50%, -50%));
    }

    @include respond-to(desktop) {
      height: 282px;
      padding: 0;

      span {
        width: 65%;
      }
    }
  }

  .changechild--whole {
    width: 100%;
    background-color: $stack-fourth;
    margin-top: $large+1;
    margin-bottom: $norm;
    padding: $med 0 0 $med;
    position: relative;


    .btn {
      width: 265px;
      margin-bottom: $med;
    }

    .changechild__row {
      width: 100%;
      margin-bottom: $med;

      .child__image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 4px $snow-white;
        float: left;
      }

      .child__name {
          font-family: $opensansregular;
          position: relative;

          &:after{
            content: "";
            position: absolute;
            width: 1px;
            height: 30px;
            background-color: $stack-second;
            right: -4px;
            top: 50%;
            margin-top: -15px;
          }
      }

      .child__expired {
        font-family: $opensansitalic;
      }

      span {
        padding: $norm;
        display: inline-block;
      }

      @include respond-to(desktop) {
        .child__image {
          width: 60px;
          height: 60px;
        }
        .child__name, .child__expired {
          font-size: basepx(18);
        }
      }
    }
  }

  .changechild--whole--inactive{
    background-color: $stack-gray-light;
  }

  .child__expand {
    position: absolute;
    right: $large;
    top: 50%;
    margin-top: -8px;
    max-width: 14px;
    text-indent: -9999px;

    &:focus {
      outline: 0;
    }

    &:before {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      background-position: -864px 0px;
      width: 14px;
      height: 8px;
      top: 50%;
      right: 0;
      margin-top: -4px;
      @include transition(transform,.24s,ease-in);
    }
  }

  .child__expand.changechild__colapse {
    &:before {
      @include rotate(180);
    }
  }

  .changechild__buttons {
    max-height: 0;
    overflow: hidden;
    @include transition(max-height,.24s,ease-in);
  }

  .changechild__buttons.changechild__colapse {
    max-height: 8em;
  }
}
