.default-form {
  margin: $norm 0 $med 0;

  .form__row {
    overflow: hidden;
    margin-bottom: $norm;
    width: 100%;
    position: relative;

    label {
      display: inline-block;
      width: 25%;

      &:first-child {
        width: 10%;
      }
    }

    input[type=text],input[type=password] {
      border: 1px solid $stack-first;
      width: 49%;
      padding: $small;

      @include respond-to(desktop) {
        padding: $small+0.1;
        font-size: basepx(18);
      }
    }

    @include placeholder {
      color: $stack-text;
    }

    @include checkbox();
  }

  .form__row--payment {
    background-color: $stack-fourth;
    padding: $small+0.5 0;
    position: relative;
    font-size: basepx(15);

    &:before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      background-color: $stack-first;
      left: 0;
      top: 0;
    }

    input[type="radio"] + label span {
      position: relative;
      display:inline-block;
      margin: -4px 40px 0 16px;
    }

    input[type="radio"] + label span {
       border: 0;
    }

    input[type="radio"] + label {
      width: 24%;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: $stack-second;
        right: 0;
        top: -7px;
      }

      @include respond-to(desktop) {
        width: 18%;
      }
    }

    span {
      font-family: $opensanslight;
      padding-left: 4%;
    }
  }

  input[type="radio"] {
    display:none;
  }

  input[type="radio"] + label {
    padding-left: -$norm;
    width: 32%;
    cursor: pointer;
    font-family: $opensanssemibold;

    @include respond-to(desktop) {
      width: 26%;
    }
  }
  
  input[type="radio"] + label span {
      position: relative;
      display:inline-block;
      width:16px;
      height:16px;
      margin:-4px 4px 0 0;
      vertical-align:middle;
      cursor:pointer;
      -moz-border-radius:  50%;
      border-radius:  50%;
      margin-right: $norm;

      &:before {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $snow-white;
        left: 50%;
        margin-left: -3px;
        top: 50%;
        margin-top: -3px;
        @include transition(background-color, .24s, ease-in);
      }
  }

  input[type="radio"] + label span {
       background-color: $snow-white;
       border: 1px solid $stack-second;
  }

  input[type="radio"]:checked + label span{
       background-color: $snow-white;

       &:before {
        background-color: $stack-sixth;
       }
  }
}

.default-form.no-padding {
  .form__row {
    margin-bottom: 0;
    &:last-child {
      input[type=checkbox] {
        margin-bottom: 0;
      }
      label {
        margin-bottom: $xxsmall;
      }
    }
  }
}
