.message__from {
  @include outer-container;
  margin-top: $norm;
  background-color: $stack-fourth;
  margin-left: 0;
  position: relative;
  height: 60px;
  padding: $small 0;
  max-width: none;

  .from__image {
    @include span-columns(2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: $norm;
    box-shadow: 0px 0px 0px 2px $snow-white;
  }

  .from__info {
    @include span-columns(8);
    padding: $xsmall 0;

    .info__name {
      font-family: $opensanssemibold;
      display: inline-block;
      position: relative;
      font-size: basepx(16);
      padding-right: $norm;

      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 42px;
        background-color: $stack-second;
        right: -4px;
        top: -12px;
      }
    }

    .info__group {
      font-size: basepx(16);
      display: inline-block;
      margin-top: $xsmall;
      padding-left: $norm;
    }

    @include respond-to(desktop) {
      font-size: basepx(18);
      padding: $xxsmall 0;
    }
  }

  .from__date {
    @include span-columns(2);
    font-size: basepx(14);
    font-family: $opensansregular;
    padding: $norm 0;
    position: relative;
    padding-left: $med;

    &:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 42px;
      background-color: $stack-second;
      left: 0px;
      top: -1px;
    }

    @include respond-to(desktop) {
      font-size: basepx(15);
    }
  }
}

.message__content {
  position: relative;
  background-color: $stack-fourth;
  margin-top: $norm;
  padding: $med $med $large $med;
  
  h3 {
    margin-bottom: $xlarge;
    position: relative;

    &:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: $stack-first;
      position: absolute;
      left: 0;
      top: 42px;
    }
  }

  p {
    font-family: $opensanslight;
    padding-right: $xlarge;
  }
}