.nav-toggle { 
  position: relative; 
  left: $large;
  top: 20px; 
  z-index: 1;
  top: 50%;
  margin-top: -11px;
  color: $snow-white;
  text-transform: uppercase;
  font-size: basepx(16);

  @include respond-to(desktop) {
    display: none;
  }
}

.nav-toggle { 
  cursor: pointer; 

  span {
    padding-left: $med;
    position: relative;
    @include transition(color,.24s,ease-in);

    &:before {
      content: "";
      position: absolute;    
      background: url(../img/assets.svg);
      width: 14px;
      height: 8px;
      background-position: -768px 0px;
      left: 0;
      top: 50%;
      margin-top: -4px;
      @include transform(rotate(-90deg));
    }

    &:after {
      content: " openen";
    }

    &:hover {
      color: $stack-sixth;

      &:before {
        background-position: -864px 0px;
      }
    }
  }
}

.nav-toggle.active {
  span {
    &:before {
      @include transform(rotate(90deg));
    }

    &:after {
      content: " sluiten";
    } 
  }
}