.site-canvas--inlog {
  background: url(../img/bg-blue.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;

  .logo {
    position: absolute;
    top: $large;
    left: $large;
  }
}

.center__block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: $stack-fourth;
  padding: $large+1;

  h1 {
    margin-bottom: $norm;
    margin-top: 0;
    text-transform: uppercase;
    color: $stack-sixth;
  }

  .default-form {

    .form__row {
      input {
        width: 100%;
        margin-bottom: $small;
      }

      .forget__password {
        display: block;
        margin-top: $norm;
        text-decoration: underline;
        color: $stack-text;
        font-family: $opensansitalic;
        font-size: basepx(15);
      }
    }
    .form__row--buttons {
      margin-top: $large;

      .btn, .btn--dark {
        width: 48%;
      }
    }
  }
}