.messages__list {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 1;
  @include transition(all, 0.24s, ease-in);

  li {
    a {
      margin-bottom: 0 !important;
    }
  }
}

.messages__list.show {
  max-height: 15em;
}