.site-wrap {
  position:absolute;
  top:0; 
  bottom:0; 
  left:0; 
  right:0;
}

.site-canvas {
  position:relative;
  top:0; 
  bottom:0; 
  left:0; 
  right:0;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(10,37,41,0.5);
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity,.24s,ease-in);
  }
}

.site-canvas.overlay {
  &:before {
    visibility: visible;
    opacity: 1;
  }
}

.container {
  display: none;

  @include respond-to(tablet) {
    display: block;
    background-color: $snow-white;
    position: relative;
    float: left;
    min-height: 100%;
    width: 80%;
    transition: width 0.24s;
    margin-left: 20%;
    margin-top: 114px;
    margin-bottom: $xlarge;
  }

  @include respond-to(desktop) {
    transition: none;
  }
}

.container.show {

  @include respond-to(tablet) {
    width: 100%;
    transition: width 0.24s;
    margin-left: 0;
  }

  @include respond-to(desktop) {
    width: 80%;
    transition: none;
    margin-left: 20%;
  }
}

.dashboard {
  @include outer-container;
  margin-left: 0;
  padding: $large $med+2 0 $med+2;

  h1 {
    margin-bottom: $norm;
  }
}

.block__content {
  background-color: $snow-white;
  color: $stack-text;
  height: 240px;
  background-color: #F2F8FA;
  text-align: center;
  font-family: $opensanslight;

  img {
    width: 100%;
    height: 100%;
  }
}

.block__content__row {
  margin-bottom: 3.287743293%;
  overflow: hidden;
}

.block__content--third {
  @extend .block__content;
  @include span-columns(4);
}

.block__content--quarter {
  @extend .block__content;
  @include span-columns(3);
}

.block__content--half {
  @extend .block__content;
  @include span-columns(6);
}

.block__content--threequarter {
  @extend .block__content;
  @include span-columns(9);
}

.block__content--whole {
  @extend .block__content;
  width: 100%;
}

.addchild__form {
  margin-bottom: $large;

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    border: 1px solid $stack-first;
  }
}