.header {
  margin-bottom: $norm;
  text-transform: uppercase;
}

.message__nav {
  @include outer-container;
  margin-left: 0;
  max-width: none;

  .message__nav--left {
    @include span-columns(6.5);
    padding: $xsmall 0;

    a {
      display: inline-block;
      color: $stack-text;
      padding: $xsmall $norm $xsmall $norm;
      position: relative;
      margin-top: $xxsmall;
      font-size: basepx(13);
      text-transform: uppercase;

      &:after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: $stack-first;
        position: absolute;
        top:0;
        right: 0px;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child:after {
        display: none;
      }

      &:hover {
        font-family: $opensansregular;
      }
    }

    @include respond-to(desktop) {
      @include span-columns(5.6);
      @include omega();
      a {
        font-size: basepx(15);
      }
    }
  }

  .message__nav--right {
    float: right;
    text-align: right;
    position: relative;

    .btn {
      margin-left: $norm;
      margin-bottom: $norm;
      display: block;
    }

    .btn--more {
      margin-bottom: 0;
    }

    @include respond-to(desktop) {
      @include span-columns(6.4);
      float: right;
      right: 0;

      .btn {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  .strong {
    font-family: $opensansbold;
  }
}

.inbox  {
  a {
    color: $stack-text;
    font-size: basepx(15);
  }

  .inbox__header {
    @include outer-container;
    margin-left: 0;
    font-family: $opensansregular;
    font-size: basepx(16);

    .column2, .column3, .column4 {
      &:after {
        display: none;
      }
    }
  }

  .column {
    @include omega();
    position: relative;

    &:after {
      content: "";
      width: 1px;
      height: 60%;
      background-color: $stack-gray-dark;
      position: absolute;
      right: 1px;
      top: 26%;
    }
  }

  .column1 {
    @include span-columns(1);
    @include checkbox();
    position: relative;
    padding: $norm 0;

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      left: 16px;
      top: 18px;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      left: 19px;
      top: 23px;
    }

    &:after {
      display: none;
    }
  }

  .column1__select {
    position: relative;
    height: 48px;
    padding: 0;

    &:before {
      content: "";
      position: absolute;
      width: 48px;
      height: 100%;
      background-color: $stack-gray;
    }
  }


  .column2 {
    @include span-columns(2.5);
    padding: $norm 0;
  }

  .column3 {
    @include span-columns(3.5);
    padding: $norm 0;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
  }

  .column4 {
    @include span-columns(3.5);
    padding: $norm $norm $norm 0;
    font-family: $opensansitalic;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
  }

  .column5 {
    @include span-columns(1.5);
    padding: $norm 0;

    &:after {
      display: none;
    }
  }

  @include respond-to(desktop) {
    a {
      font-size: basepx(16);
    }
  }
}


.message__row {
  @include outer-container;
  margin-left: 0;
  max-width: none;
  background-color: $stack-gray-light;
  position: relative;
  margin-bottom: $small;
  @include transition(all, 0.24s, ease-in);

  &:hover {
    background-color: darken($stack-gray-light, 5%);
  }
}

.message__row.new {
  background-color: $stack-fourth;
  font-family: $opensanssemibold;

  .column {
    &:after {
      background-color: $stack-second;
    }
  }

  .column1__select {
    &:before {
      background-color: $stack-first;
    }    
  }

  &:hover {
    background-color: darken($stack-fourth, 5%);

    .column1__select {
      &:before {
        background-color: ($stack-fourth, 5%);
      }  
    }
  }
}


