.navigation {
  display: none;

  @include respond-to(tablet) {
    position: fixed;
    display: block;
    height: 100%;
    width: 20%;
    margin-left: -20%;
    background-color: $stack-black;
    float: left;
    transition: margin 0.24s;
  }

  @include respond-to(desktop) {
    width: 20%;
    margin-left: 0;
    transition: none;
  }
}

.navigation.show {
  @include respond-to(tablet) {
    margin-left: 0;
    transition: margin 0.24s;
  }

  @include respond-to(desktop) {
    transition: none;
  }
}

.navigation__bottom__submenu {
  position: fixed;
  background-color: $stack-black-light;
  bottom: 0;
  width: 20%;
  left: 20%;
  margin-left: -40%;
  text-align: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  @include transition(opacity,.24s,ease-in);

  li {
    @include transition(background-color,.24s,ease-in);
    a {
      padding: $med;
      color: $snow-white;
      display: block;
      position: relative;

      &:after {
        content: "";
        width: 180px;
        height: 1px;
        background-color: rgb(121,136,138);
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -90px;
        opacity: 1;
        @include transition(opacity,.24s,ease-in);
      }
    } 

    &:hover {
      background-color: rgba(10,37,41,.95);

      a {
        &:after {
          opacity: 0;
        }
      }
    }
  }

  @include respond-to(desktop) {
    margin-left: 0;
    transition: none;
  }
}

.navigation__bottom__submenu.show {
  margin-left: 0;
}

.navigation__bottom__submenu.hover {
  transition: opacity 0.24s;
  opacity: 1;
  visibility: visible;
}

.navigation__bottom__submenu a.selected {
  background-color: #173134;

  &:after {
    opacity: 0;
  }
}

.navigation__side {
  min-height: 100%;
  position: relative;

  li {
    @include transition(background-color,.24s,ease-in);
    &:hover {
      background-color: $stack-text;
    }
  }
}

.navigation__logo {
  background-color: $stack-second;
  font-family: $opensansbold;
  height: 114px;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -88px;
    margin-top: -32px;
  }
}

.navigation__top {
  background-color: $stack-first;
  position: fixed;
  height: 114px;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 100;
}

.navigation__top__right {
  position: absolute;
  height: 100%;
  float: right;
  width: 96%;
  top:0;

  &:after {
    content: "";
    position: absolute;    
    background: url(../img/assets.svg);
    width: 14px;
    height: 8px;
    background-position: -768px 0px;
    right: 84px;
    top: 50%;
    margin-top: -4px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 88px;
    background-color: rgba(255,255,255,0.3);
    right: 140px;
    top: 50%;
    margin-top: -44px;
  }

  img {
    position: absolute;
    box-shadow: 0px 0px 0px 3px $snow-white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: $norm;
    top: 50%;
    margin-top: -25px;
  }

  @include respond-to(desktop) {
    width: 76%;
  }
}

.navigation__top__right.show {
  width: 75%;

  @include respond-to(desktop) {
    width: 76%;
  }
}

.notification {

  &:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 22px;
    height: 24px;
    background-position: -672px 0px;
    right: $xlarge+8;
    cursor: pointer;
    top: 50%;
    margin-top: -12px;
  }
}

.notification__number {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  font-size: 12px;
  color:#fff;
  line-height: 15px;
  text-align: center;
  background: transparent;
  box-shadow: 0px 0px 0px 2px $snow-white;
  position: absolute;
  right: $xlarge+11.2;
  padding-left: 1px;
  top: 50%;
  margin-top: -18px;
}

.navigation__bottom {
  position: absolute;
  width: 100%;
  bottom: 0;

  &:before {
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    background-color: rgba(255,255,255,0.1);
    top: 0;
    left: 50%;
    margin-left: -40%;
  }
}



.child {
  text-align: center;
  position: relative;
  padding: $norm 0;
  color: $stack-first;
  height: 80px;

  img {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    top: 50%;
    margin-top: -18px;
    left: 27%;
    box-shadow: 0px 0px 0px 3px $snow-white;
  }

  span {
    display: block;
    margin-top: $small;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
  }

  &:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: rgba(255,255,255,0.1);
    bottom: 0;
    left: 50%;
    margin-left: -40%;
  }

  &:active {
    background-color: red;
  }

  @include respond-to(desktop) {
    height: 116px;
    text-align: center;

    img {
      margin-top: -33px;
      left: 50%;
      margin-left: -23px;
      width: 46px;
      height: 46px;
    }

    span {
      position: relative;
      margin-top: 20px;
      left: auto;
    }
  }
}

.child--border {
  position: relative;
  display: block;
  text-decoration: none;

  &:before {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: $snow-white;
    z-index: 1;
  }
}

.child--active {
  background-color: $stack-text;
  color: $snow-white;
  font-family: $opensanssemibold;

  &:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: $snow-white;
    left: 100%;
    top: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;

    @include respond-to(desktop) {
      width: 16px;
      height: 16px;
      margin-top: -8px;
      margin-left: -8px;
    }
  }

  @include respond-to(desktop) {
    img {
      width: 46px;
      height: 46px;
    }
  }
}

.child--add {
  span {
    left: 39%;
  }

  &:after {
    display: none;
  }

  &:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    background-position: 0px -288px;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 24%;
    margin-top: -12px;


    @include respond-to(desktop) {
      top: 34px;
      left: 46%;
      margin-top: -5px;
    }
  }

  @include respond-to(desktop) {
    span {
      position: relative;
      margin-top: 0px;
      left: auto;
    }
  }
}

.child--image {

  &:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 34px;
    height: 30px;
    background-position: -96px 0px;
    margin-left: -16px;
    left: 50%;
    top: 30px;
    margin-top: 0;
  }
}

.child--message {
  span {
    left: 42%;

    &:before {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      width: 20px;
      height: 20px;
      background-position: -384px -288px;
      left: -36%;
      top: -8px;
      margin-top: 0;    
    }

    @include respond-to(desktop) {
      &:before {
        width: 30px;
        height: 30px;
        background-position: -384px -288px;
        z-index: 5;
        left: 53%;
        top: -44px;
      }
    }  
  }
  &:before {
    width: 21px;
    height: 15px;
    background-position: 0px -192px;
    margin-left: -60px;
    top: 50%;
    margin-top: -8px;

    @include respond-to(desktop) {
      width: 34px;
      height: 24px;
      background-position: -192px 0px;
      margin-left: -16px;  
      margin-top: -22px;  
    }
  }

  @include respond-to(desktop) {
    span {
      position: relative;
      margin-top: 12px;
      left: auto;
    }
  }
}

.child--settings {
  span {
    left: 35%;
  }
  &:before {
    width: 19px;
    height: 19px;
    background-position: -96px -192px;
    margin-left: -62px;
    top: 32px;

    @include respond-to(desktop) {
      width: 40px;
      height: 34px;
      background-position: -288px 0px;
      margin-left: -20px;
      margin-top: -2px;
    }
  }

  &:after {
    display: none;
  }

  @include respond-to(desktop) {
    span {
      left: auto;
    }
  }
}

.child--add.child--active {
  &:before {
    background-position: -96px -288px;
  }  
}

.child--message.child--active {

  span {
    &:before {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      width: 20px;
      height: 20px;
      background-position: -480px -288px;
      left: -36%;
      top: -8px;
      margin-top: 0;  

      @include respond-to(desktop) {
        background-position: -288px -288px;
        width: 30px;
        height: 30px;
        z-index: 5;
        left: 53%;
        top: -44px;
      }    
    }
  }
  &:before {
    background-position: -288px -192px;

    @include respond-to(desktop) {
      background-position: -480px 0px;
    }
  }
}

.child--settings.child--active {
  &:before {
    background-position: -384px -192px;

    @include respond-to(desktop) {
      background-position: -576px 0px;
    }
  }
}