.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: $snow-white;
  z-index: 102;
  text-align: center;
  padding: $xlarge $large;
  opacity: 0;
  visibility: hidden;
  @include transform(translate(-50%, -50%));
  @include transition(opacity,.24s,ease-in);

  .close {
    position: absolute;
    top: $med;
    right: $med;
    width: 20px;
    height: 20px;

    &:before {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      width: 22px;
      height: 22px;
      background-position: -576px -192px;
      left: 0;
      @include transition(transform,.24s,ease-in);
    }

    &:hover {
      &:before {
        @include rotate(90);
      }
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: $norm;
    text-transform: uppercase;
  }

  p {
    margin-bottom: $large;
    padding: 0 $med;
  }
}

.popup.show {
  opacity: 1;
  visibility: visible;
}