.payment {
  @include outer-container;
  margin-top: $large;
  border-top: 1px solid $stack-text;
  padding-top: $large;

  .payment__block {
    @include span-columns(6);

    h3 {
      margin-bottom: $large;
      font-size: basepx(17);
    }
  }
}

.payment__dropdown {
  position: relative;
  background-color: $stack-fourth;
  bottom: -1.1em;
  overflow: hidden;
  max-height: 0;
  box-sizing: border-box;
  @include transition(max-height, .24s, ease-in);

  span {
    padding-left: 0!important;
    display: block;
    margin-bottom: $norm;
    font-family: $opensansregular !important;
  }

  img {
    margin-right: $small;
  }

  .btn {
    display: block;
    margin-top: $norm;
  }

  .contact__select {
    position: relative;
    margin: $xsmall 0;
    width: 33%;
    
    select {
      position: relative;
      background: $snow-white;
      border: 1px solid $stack-first;
      width: 100%;
      padding: $norm;
      border-radius: 0;
      text-transform: uppercase;
    }

    &:before {
      content: '';
      position: absolute;
      width: 52px;
      height: 100%;
      background-color: $stack-first;
      z-index: 1;
      right: 0;
    }

    &:after {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      background-position: -768px 0px;
      width: 14px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      right: 19px;
      z-index: 1;
    }
  }
}

.form__row--payment.show {
  .payment__dropdown {
    max-height: 20em;
    padding: $med 0 $med $xlarge+0.5;
  }
}
