.switches {
  margin-top: $large;
}

.switch__row {
  padding: $norm 0;
  position: relative;
  border-top: 1px solid $stack-first;
  overflow: hidden;

  &:last-child {
    border-bottom: 1px solid $stack-first;
  }

  .switch__name {
    font-family: $opensansregular;
  }

  @include respond-to(desktop) {
    font-size: basepx(18);
  }
}

.switch {
  display: inline-block; 
  position: relative;
  margin-top: -3px;

  span {
    margin-right: $small;
    margin-left: $small;
  }
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  bottom: 0;
}

input.cmn-toggle-round + label {
  width: 40px;
  height: 20px;
  border-radius: 60px;

  @include respond-to(desktop) {
    width: 48px;
    height: 24px;
  }
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 4px;
  left: 0px;
  bottom: -4px;
  content: "";

   @include respond-to(desktop) {
    width: 23px;
  }
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: $stack-gray-dark;
  width: 90%;
  border-radius: 60px;
  @include transition(background,0.24s,ease-in);
}

input.cmn-toggle-round + label:after {
  width: 19px;
  background-color: $stack-gray;
  border-radius: 100%;
  @include transition(margin,0.24s,ease-in);

  @include respond-to(desktop) {
    width: 23px;
  }
}
input.cmn-toggle-round:checked + label:before {
  background-color: $stack-third;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 20px;
}