.btn {
  display: inline-block;
  padding: $small+0.3;
  width: 175px;
  background-color: $stack-second;
  text-transform: uppercase;
  color: $snow-white;
  text-align: center;
  font-size: basepx(14);
  character-spacing: 1px;
  border-radius: 1px;
  font-family: $opensansregular;
  cursor: pointer;
  @include transition(background-color,.24s,ease-in);

  @include respond-to(desktop) {
    font-size: basepx(15);
    width: 200px;
    padding: $small+0.5;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    background-color: darken($stack-second, 7%);
  }
}

.btn--large {
  @extend .btn;

  width: 240px;
}

.btn--dark {
  background-color: $stack-sixth;
  margin-right: $norm;

  &:hover {
    background-color: darken($stack-sixth, 10%);
  }
}

.btn--more {
  @extend .btn;
  position: relative;

  &:before {
    @include transition(transform, 0.24s, ease-in);
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 14px;
    height: 8px;
    background-position: -768px 0px;
    top: 50%;
    margin-top: -3px;
    left: $large+.75;
  }

  @include respond-to(desktop) {
    &:before {
      left: $large+1.25;
    }
  }
}

.btn--more.show {
  color: $stack-text;

  &:before {
    @include rotate(180);
    background-position: -864px 0px;
  }
}

.more__dropdown {

  li {
    border: 1px solid red;
    width: 175px;
    position: absolute;
    right: 0;
  }
}

.btn--dropdown {
  @extend .btn;
  position: relative;
  @include transition(color,.1s,ease-in);

  &:before {
    content: "";
    width: 150px;
    height: 1px;
    position: absolute;
    background-color: $snow-white;
    left: 50%;
    top: 0;
    margin-left: -75px;
    opacity: 0.3;
  }

  &:hover {
    background-color: $stack-second;
    color: $stack-text;
  }
}

.btn--form {
  @extend .btn;
  border: 0;
  margin-top: $norm;
}

.btn--change {
  @extend .btn;
}

.btn--remove {
  @extend .btn;
  width: 200px;
  display: inline-block;
  margin-top: $med+1
}

.btn__back {
  position: relative;
  text-transform: uppercase;
  font-size: basepx(14);
  padding-left: $med;

  &:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 10px;
    height: 10px;
    background-position: -96px -96px;
    top: 50%;
    margin-top: -5px;
    left: 0;    
  }

  @include respond-to(desktop) {
    font-size: basepx(15);
  }
}

.btn__reply {
  position: absolute;
  right: $med+1.5;
  top: $med ;

  &:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 21px;
    height: 18px;
    background-position: -192px -96px;
  }
}