$browser-context: 16; // Default

@function basepx($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function emCalc($target, $context: $browser-context) {
    @return $target / $context * 1em;
}

html, 
body {min-height:100%; padding:0; margin:0;}

html { 
  font-family: $opensanslight;
 }

body { 
  margin: 0;
  color: #000;

}

a {
	text-decoration: none;
}


.wrapper {
  padding: $large $med+2 0 $med+2;
  overflow: hidden;
  position: relative;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}