h1 {
  font-size: basepx(30);
  font-family: $opensanssemibold;
  margin-top: $norm;
  text-transform: uppercase;

  @include respond-to(desktop) {
    font-size: basepx(37);
  }
}

h2 {
  font-size: basepx(23);
  font-family: $opensanssemibold;
  margin-top: $norm;
  margin-bottom: $norm;
  text-transform: uppercase;

  @include respond-to(desktop) {
    font-size: basepx(30);
  }  
}

h3 {
  font-size: basepx(16);
  font-family: $opensanssemibold;

  @include respond-to(desktop) {
    font-size: basepx(18);
  }    
}

p {
  font-size: basepx(16);
  font-family: $opensanslight;
  line-height: emCalc(24);

  @include respond-to(desktop) {
    font-size: basepx(18);
    line-heihgt: emCalc(27);
  }  
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}