// Typography
$opensansregular:		 'open_sansregular',Helvetica, sans-serif;
$opensanslight:      'open_sanslight',Helvetica, sans-serif;
$opensanssemibold:   'open_sanssemibold',Helvetica, sans-serif;
$opensansbold:       'open_sansbold',Helvetica, sans-serif;
$opensansitalic:     'open_sanslight_italic',Helvetica, sans-serif;



$snow-white:      rgb(255,255,255);
$stack-gray:      rgb(233,233,233);
$stack-gray-light:rgb(242,242,242);

$stack-gray-dark: rgb(184,184,184);
$stack-black:     rgb(10,37,41);
$stack-black-light: rgb(47,70,73);

//Projectcolors
$stack-first:	    rgb(178,215,224);
$stack-second:	  rgb(147,197,218);
$stack-third:     rgb(168,209,225);
$stack-fourth:    rgb(232,243,246);
$stack-fifth:     rgb(201,229,222);
$stack-sixth:     rgb(70,94,99);

//text colors
$stack-text:      rgb(2,12,13);

//error colors
$stack-error:     rgb(244,67,54);

$ratio      : 1.618;

$norm	      : 1em;
$med          : $norm*$ratio;
$small        : $norm/$ratio;
$xsmall       : $small/$ratio;
$xxsmall      : $xsmall/$ratio;
$xxxsmall     : $xxsmall/$ratio;
$xxxxsmall    : $xxxsmall/$ratio;
$large        : $med*$ratio;
$xlarge       : $large*$ratio;
$xxlarge      : $xlarge*$ratio;

$normpx       : 14px;
$medpx        : $normpx*$ratio;
$smallpx      : $normpx/$ratio;
$xsmallpx     : $smallpx/$ratio;
$xxsmallpx    : $xsmallpx/$ratio;
$xxxsmallpx   : $xxsmallpx/$ratio;
$largepx      : $medpx*$ratio;
$xlargepx     : $largepx*$ratio;
$xxlargepx    : $xlargepx*$ratio;

$base-font-size: $normpx;
$base-line-height: $medpx;

$gutter: $large;