html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  -webkit-appearance: none;
  border-radius: 1px; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * my own normalize:
 */
h1, h2 {
  margin-top: 0;
  color: #020c0d; }

h2 {
  margin-top: 1em; }

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0; }

html {
  font-family: "open_sanslight", Helvetica, sans-serif; }

body {
  margin: 0;
  color: #000; }

a {
  text-decoration: none; }

.wrapper {
  padding: 2.617924em 3.618em 0 3.618em;
  overflow: hidden;
  position: relative; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.btn, .btn--large, .btn--more, .btn--dropdown, .btn--form, .btn--change, .btn--remove {
  display: inline-block;
  padding: 0.9180469716em;
  width: 175px;
  background-color: #93c5da;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 0.875em;
  character-spacing: 1px;
  border-radius: 1px;
  font-family: "open_sansregular", Helvetica, sans-serif;
  cursor: pointer;
  -webkit-transition: background-color 0.24s ease-in;
  -moz-transition: background-color 0.24s ease-in;
  -ms-transition: background-color 0.24s ease-in;
  -o-transition: background-color 0.24s ease-in;
  transition: background-color 0.24s ease-in; }
  @media (min-width: 1280px) {
    .btn, .btn--large, .btn--more, .btn--dropdown, .btn--form, .btn--change, .btn--remove {
      font-size: 0.9375em;
      width: 200px;
      padding: 1.1180469716em; } }
  .btn:focus, .btn--large:focus, .btn--more:focus, .btn--dropdown:focus, .btn--form:focus, .btn--change:focus, .btn--remove:focus {
    outline: 0; }
  .btn:hover, .btn--large:hover, .btn--more:hover, .btn--dropdown:hover, .btn--form:hover, .btn--change:hover, .btn--remove:hover {
    background-color: #78b7d1; }

.btn--large {
  width: 240px; }

.btn--dark {
  background-color: #465e63;
  margin-right: 1em; }
  .btn--dark:hover {
    background-color: #314245; }

.btn--more {
  position: relative; }
  .btn--more:before {
    -webkit-transition: transform 0.24s ease-in;
    -moz-transition: transform 0.24s ease-in;
    -ms-transition: transform 0.24s ease-in;
    -o-transition: transform 0.24s ease-in;
    transition: transform 0.24s ease-in;
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 14px;
    height: 8px;
    background-position: -768px 0px;
    top: 50%;
    margin-top: -3px;
    left: 3.367924em; }
  @media (min-width: 1280px) {
    .btn--more:before {
      left: 3.867924em; } }

.btn--more.show {
  color: #020c0d; }
  .btn--more.show:before {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: -864px 0px; }

.more__dropdown li {
  border: 1px solid red;
  width: 175px;
  position: absolute;
  right: 0; }

.btn--dropdown {
  position: relative;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -ms-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in; }
  .btn--dropdown:before {
    content: "";
    width: 150px;
    height: 1px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 0;
    margin-left: -75px;
    opacity: 0.3; }
  .btn--dropdown:hover {
    background-color: #93c5da;
    color: #020c0d; }

.btn--form {
  border: 0;
  margin-top: 1em; }

.btn--remove {
  width: 200px;
  display: inline-block;
  margin-top: 2.618em; }

.btn__back {
  position: relative;
  text-transform: uppercase;
  font-size: 0.875em;
  padding-left: 1.618em; }
  .btn__back:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 10px;
    height: 10px;
    background-position: -96px -96px;
    top: 50%;
    margin-top: -5px;
    left: 0; }
  @media (min-width: 1280px) {
    .btn__back {
      font-size: 0.9375em; } }

.btn__reply {
  position: absolute;
  right: 3.118em;
  top: 1.618em; }
  .btn__reply:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 21px;
    height: 18px;
    background-position: -192px -96px; }

h1 {
  font-size: 1.875em;
  font-family: "open_sanssemibold", Helvetica, sans-serif;
  margin-top: 1em;
  text-transform: uppercase; }
  @media (min-width: 1280px) {
    h1 {
      font-size: 2.3125em; } }

h2 {
  font-size: 1.4375em;
  font-family: "open_sanssemibold", Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase; }
  @media (min-width: 1280px) {
    h2 {
      font-size: 1.875em; } }

h3 {
  font-size: 1em;
  font-family: "open_sanssemibold", Helvetica, sans-serif; }
  @media (min-width: 1280px) {
    h3 {
      font-size: 1.125em; } }

p {
  font-size: 1em;
  font-family: "open_sanslight", Helvetica, sans-serif;
  line-height: 1.5em; }
  @media (min-width: 1280px) {
    p {
      font-size: 1.125em;
      line-heihgt: 1.6875em; } }

ul {
  list-style-type: none; }

li {
  list-style-type: none; }

.nav-toggle {
  position: relative;
  left: 2.617924em;
  top: 20px;
  z-index: 1;
  top: 50%;
  margin-top: -11px;
  color: white;
  text-transform: uppercase;
  font-size: 1em; }
  @media (min-width: 1280px) {
    .nav-toggle {
      display: none; } }

.nav-toggle {
  cursor: pointer; }
  .nav-toggle span {
    padding-left: 1.618em;
    position: relative;
    -webkit-transition: color 0.24s ease-in;
    -moz-transition: color 0.24s ease-in;
    -ms-transition: color 0.24s ease-in;
    -o-transition: color 0.24s ease-in;
    transition: color 0.24s ease-in; }
    .nav-toggle span:before {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      width: 14px;
      height: 8px;
      background-position: -768px 0px;
      left: 0;
      top: 50%;
      margin-top: -4px;
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .nav-toggle span:after {
      content: " openen"; }
    .nav-toggle span:hover {
      color: #465e63; }
      .nav-toggle span:hover:before {
        background-position: -864px 0px; }

.nav-toggle.active span:before {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.nav-toggle.active span:after {
  content: " sluiten"; }

.navigation {
  display: none; }
  @media (min-width: 1024px) {
    .navigation {
      position: fixed;
      display: block;
      height: 100%;
      width: 20%;
      margin-left: -20%;
      background-color: #0a2529;
      float: left;
      transition: margin 0.24s; } }
  @media (min-width: 1280px) {
    .navigation {
      width: 20%;
      margin-left: 0;
      transition: none; } }

@media (min-width: 1024px) {
  .navigation.show {
    margin-left: 0;
    transition: margin 0.24s; } }

@media (min-width: 1280px) {
  .navigation.show {
    transition: none; } }

.navigation__bottom__submenu {
  position: fixed;
  background-color: #2f4649;
  bottom: 0;
  width: 20%;
  left: 20%;
  margin-left: -40%;
  text-align: center;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.24s ease-in;
  -moz-transition: opacity 0.24s ease-in;
  -ms-transition: opacity 0.24s ease-in;
  -o-transition: opacity 0.24s ease-in;
  transition: opacity 0.24s ease-in; }
  .navigation__bottom__submenu li {
    -webkit-transition: background-color 0.24s ease-in;
    -moz-transition: background-color 0.24s ease-in;
    -ms-transition: background-color 0.24s ease-in;
    -o-transition: background-color 0.24s ease-in;
    transition: background-color 0.24s ease-in; }
    .navigation__bottom__submenu li a {
      padding: 1.618em;
      color: white;
      display: block;
      position: relative; }
      .navigation__bottom__submenu li a:after {
        content: "";
        width: 180px;
        height: 1px;
        background-color: #79888a;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -90px;
        opacity: 1;
        -webkit-transition: opacity 0.24s ease-in;
        -moz-transition: opacity 0.24s ease-in;
        -ms-transition: opacity 0.24s ease-in;
        -o-transition: opacity 0.24s ease-in;
        transition: opacity 0.24s ease-in; }
    .navigation__bottom__submenu li:hover {
      background-color: rgba(10, 37, 41, 0.95); }
      .navigation__bottom__submenu li:hover a:after {
        opacity: 0; }
  @media (min-width: 1280px) {
    .navigation__bottom__submenu {
      margin-left: 0;
      transition: none; } }

.navigation__bottom__submenu.show {
  margin-left: 0; }

.navigation__bottom__submenu.hover {
  transition: opacity 0.24s;
  opacity: 1;
  visibility: visible; }

.navigation__bottom__submenu a.selected {
  background-color: #173134; }
  .navigation__bottom__submenu a.selected:after {
    opacity: 0; }

.navigation__side {
  min-height: 100%;
  position: relative; }
  .navigation__side li {
    -webkit-transition: background-color 0.24s ease-in;
    -moz-transition: background-color 0.24s ease-in;
    -ms-transition: background-color 0.24s ease-in;
    -o-transition: background-color 0.24s ease-in;
    transition: background-color 0.24s ease-in; }
    .navigation__side li:hover {
      background-color: #020c0d; }

.navigation__logo {
  background-color: #93c5da;
  font-family: "open_sansbold", Helvetica, sans-serif;
  height: 114px;
  position: relative; }
  .navigation__logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -88px;
    margin-top: -32px; }

.navigation__top {
  background-color: #b2d7e0;
  position: fixed;
  height: 114px;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 100; }

.navigation__top__right {
  position: absolute;
  height: 100%;
  float: right;
  width: 96%;
  top: 0; }
  .navigation__top__right:after {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 14px;
    height: 8px;
    background-position: -768px 0px;
    right: 84px;
    top: 50%;
    margin-top: -4px; }
  .navigation__top__right:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 88px;
    background-color: rgba(255, 255, 255, 0.3);
    right: 140px;
    top: 50%;
    margin-top: -44px; }
  .navigation__top__right img {
    position: absolute;
    box-shadow: 0px 0px 0px 3px white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right: 1em;
    top: 50%;
    margin-top: -25px; }
  @media (min-width: 1280px) {
    .navigation__top__right {
      width: 76%; } }

.navigation__top__right.show {
  width: 75%; }
  @media (min-width: 1280px) {
    .navigation__top__right.show {
      width: 76%; } }

.notification:before {
  content: "";
  position: absolute;
  background: url(../img/assets.svg);
  width: 22px;
  height: 24px;
  background-position: -672px 0px;
  right: 12.235801032em;
  cursor: pointer;
  top: 50%;
  margin-top: -12px; }

.notification__number {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  background: transparent;
  box-shadow: 0px 0px 0px 2px white;
  position: absolute;
  right: 15.435801032em;
  padding-left: 1px;
  top: 50%;
  margin-top: -18px; }

.navigation__bottom {
  position: absolute;
  width: 100%;
  bottom: 0; }
  .navigation__bottom:before {
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 50%;
    margin-left: -40%; }

.child {
  text-align: center;
  position: relative;
  padding: 1em 0;
  color: #b2d7e0;
  height: 80px; }
  .child img {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    top: 50%;
    margin-top: -18px;
    left: 27%;
    box-shadow: 0px 0px 0px 3px white; }
  .child span {
    display: block;
    margin-top: 0.6180469716em;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%; }
  .child:after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: 0;
    left: 50%;
    margin-left: -40%; }
  .child:active {
    background-color: red; }
  @media (min-width: 1280px) {
    .child {
      height: 116px;
      text-align: center; }
      .child img {
        margin-top: -33px;
        left: 50%;
        margin-left: -23px;
        width: 46px;
        height: 46px; }
      .child span {
        position: relative;
        margin-top: 20px;
        left: auto; } }

.child--border {
  position: relative;
  display: block;
  text-decoration: none; }
  .child--border:before {
    content: "";
    width: 10px;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 1; }

.child--active {
  background-color: #020c0d;
  color: white;
  font-family: "open_sanssemibold", Helvetica, sans-serif; }
  .child--active:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: white;
    left: 100%;
    top: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px; }
    @media (min-width: 1280px) {
      .child--active:after {
        width: 16px;
        height: 16px;
        margin-top: -8px;
        margin-left: -8px; } }
  @media (min-width: 1280px) {
    .child--active img {
      width: 46px;
      height: 46px; } }

.child--add span {
  left: 39%; }

.child--add:after {
  display: none; }

.child--add:before {
  content: "";
  position: absolute;
  background: url(../img/assets.svg);
  background-position: 0px -288px;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 24%;
  margin-top: -12px; }
  @media (min-width: 1280px) {
    .child--add:before {
      top: 34px;
      left: 46%;
      margin-top: -5px; } }

@media (min-width: 1280px) {
  .child--add span {
    position: relative;
    margin-top: 0px;
    left: auto; } }

.child--image:before {
  content: "";
  position: absolute;
  background: url(../img/assets.svg);
  width: 34px;
  height: 30px;
  background-position: -96px 0px;
  margin-left: -16px;
  left: 50%;
  top: 30px;
  margin-top: 0; }

.child--message span {
  left: 42%; }
  .child--message span:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 20px;
    height: 20px;
    background-position: -384px -288px;
    left: -36%;
    top: -8px;
    margin-top: 0; }
  @media (min-width: 1280px) {
    .child--message span:before {
      width: 30px;
      height: 30px;
      background-position: -384px -288px;
      z-index: 5;
      left: 53%;
      top: -44px; } }

.child--message:before {
  width: 21px;
  height: 15px;
  background-position: 0px -192px;
  margin-left: -60px;
  top: 50%;
  margin-top: -8px; }
  @media (min-width: 1280px) {
    .child--message:before {
      width: 34px;
      height: 24px;
      background-position: -192px 0px;
      margin-left: -16px;
      margin-top: -22px; } }

@media (min-width: 1280px) {
  .child--message span {
    position: relative;
    margin-top: 12px;
    left: auto; } }

.child--settings span {
  left: 35%; }

.child--settings:before {
  width: 19px;
  height: 19px;
  background-position: -96px -192px;
  margin-left: -62px;
  top: 32px; }
  @media (min-width: 1280px) {
    .child--settings:before {
      width: 40px;
      height: 34px;
      background-position: -288px 0px;
      margin-left: -20px;
      margin-top: -2px; } }

.child--settings:after {
  display: none; }

@media (min-width: 1280px) {
  .child--settings span {
    left: auto; } }

.child--add.child--active:before {
  background-position: -96px -288px; }

.child--message.child--active span:before {
  content: "";
  position: absolute;
  background: url(../img/assets.svg);
  width: 20px;
  height: 20px;
  background-position: -480px -288px;
  left: -36%;
  top: -8px;
  margin-top: 0; }
  @media (min-width: 1280px) {
    .child--message.child--active span:before {
      background-position: -288px -288px;
      width: 30px;
      height: 30px;
      z-index: 5;
      left: 53%;
      top: -44px; } }

.child--message.child--active:before {
  background-position: -288px -192px; }
  @media (min-width: 1280px) {
    .child--message.child--active:before {
      background-position: -480px 0px; } }

.child--settings.child--active:before {
  background-position: -384px -192px; }
  @media (min-width: 1280px) {
    .child--settings.child--active:before {
      background-position: -576px 0px; } }

.site-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.site-canvas {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .site-canvas:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 37, 41, 0.5);
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.24s ease-in;
    -moz-transition: opacity 0.24s ease-in;
    -ms-transition: opacity 0.24s ease-in;
    -o-transition: opacity 0.24s ease-in;
    transition: opacity 0.24s ease-in; }

.site-canvas.overlay:before {
  visibility: visible;
  opacity: 1; }

.container {
  display: none; }
  @media (min-width: 1024px) {
    .container {
      display: block;
      background-color: white;
      position: relative;
      float: left;
      min-height: 100%;
      width: 80%;
      transition: width 0.24s;
      margin-left: 20%;
      margin-top: 114px;
      margin-bottom: 4.235801032em; } }
  @media (min-width: 1280px) {
    .container {
      transition: none; } }

@media (min-width: 1024px) {
  .container.show {
    width: 100%;
    transition: width 0.24s;
    margin-left: 0; } }

@media (min-width: 1280px) {
  .container.show {
    width: 80%;
    transition: none;
    margin-left: 20%; } }

.dashboard {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
  padding: 2.617924em 3.618em 0 3.618em; }
  .dashboard::after {
    clear: both;
    content: "";
    display: table; }
  .dashboard h1 {
    margin-bottom: 1em; }

.block__content, .block__content--third, .block__content--quarter, .block__content--half, .block__content--threequarter, .block__content--whole {
  background-color: white;
  color: #020c0d;
  height: 240px;
  background-color: #F2F8FA;
  text-align: center;
  font-family: "open_sanslight", Helvetica, sans-serif; }
  .block__content img, .block__content--third img, .block__content--quarter img, .block__content--half img, .block__content--threequarter img, .block__content--whole img {
    width: 100%;
    height: 100%; }

.block__content__row {
  margin-bottom: 3.287743293%;
  overflow: hidden; }

.block__content--third {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 31.1415044713%; }
  .block__content--third:last-child {
    margin-right: 0; }

.block__content--quarter {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 22.5341925302%; }
  .block__content--quarter:last-child {
    margin-right: 0; }

.block__content--half {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 48.3561283535%; }
  .block__content--half:last-child {
    margin-right: 0; }

.block__content--threequarter {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 74.1780641767%; }
  .block__content--threequarter:last-child {
    margin-right: 0; }

.block__content--whole {
  width: 100%; }

.addchild__form {
  margin-bottom: 2.617924em;
  /* checkbox aspect */ }
  .addchild__form [type="checkbox"]:not(:checked) + label:before,
  .addchild__form [type="checkbox"]:checked + label:before {
    border: 1px solid #b2d7e0; }

.header {
  margin-bottom: 1em;
  text-transform: uppercase; }

.message__nav {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
  max-width: none; }
  .message__nav::after {
    clear: both;
    content: "";
    display: table; }
  .message__nav .message__nav--left {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 52.659784324%;
    padding: 0.3819820591em 0; }
    .message__nav .message__nav--left:last-child {
      margin-right: 0; }
    .message__nav .message__nav--left a {
      display: inline-block;
      color: #020c0d;
      padding: 0.3819820591em 1em 0.3819820591em 1em;
      position: relative;
      margin-top: 0.2360828548em;
      font-size: 0.8125em;
      text-transform: uppercase; }
      .message__nav .message__nav--left a:after {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #b2d7e0;
        position: absolute;
        top: 0;
        right: 0px; }
      .message__nav .message__nav--left a:first-child {
        padding-left: 0; }
      .message__nav .message__nav--left a:last-child:after {
        display: none; }
      .message__nav .message__nav--left a:hover {
        font-family: "open_sansregular", Helvetica, sans-serif; }
    @media (min-width: 1280px) {
      .message__nav .message__nav--left {
        float: left;
        display: block;
        margin-right: 3.287743293%;
        width: 44.9132035771%;
        margin-right: 0; }
        .message__nav .message__nav--left:last-child {
          margin-right: 0; }
        .message__nav .message__nav--left a {
          font-size: 0.9375em; } }
  .message__nav .message__nav--right {
    float: right;
    text-align: right;
    position: relative; }
    .message__nav .message__nav--right .btn, .message__nav .message__nav--right .btn--large, .message__nav .message__nav--right .btn--more, .message__nav .message__nav--right .btn--dropdown, .message__nav .message__nav--right .btn--form, .message__nav .message__nav--right .btn--change, .message__nav .message__nav--right .btn--remove {
      margin-left: 1em;
      margin-bottom: 1em;
      display: block; }
    .message__nav .message__nav--right .btn--more {
      margin-bottom: 0; }
    @media (min-width: 1280px) {
      .message__nav .message__nav--right {
        float: left;
        display: block;
        margin-right: 3.287743293%;
        width: 51.7990531299%;
        float: right;
        right: 0; }
        .message__nav .message__nav--right:last-child {
          margin-right: 0; }
        .message__nav .message__nav--right .btn, .message__nav .message__nav--right .btn--large, .message__nav .message__nav--right .btn--more, .message__nav .message__nav--right .btn--dropdown, .message__nav .message__nav--right .btn--form, .message__nav .message__nav--right .btn--change, .message__nav .message__nav--right .btn--remove {
          display: inline-block;
          margin-bottom: 0; } }
  .message__nav .strong {
    font-family: "open_sansbold", Helvetica, sans-serif; }

.inbox a {
  color: #020c0d;
  font-size: 0.9375em; }

.inbox .inbox__header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
  font-family: "open_sansregular", Helvetica, sans-serif;
  font-size: 1em; }
  .inbox .inbox__header::after {
    clear: both;
    content: "";
    display: table; }
  .inbox .inbox__header .column2:after, .inbox .inbox__header .column3:after, .inbox .inbox__header .column4:after {
    display: none; }

.inbox .column {
  margin-right: 0;
  position: relative; }
  .inbox .column:after {
    content: "";
    width: 1px;
    height: 60%;
    background-color: #b8b8b8;
    position: absolute;
    right: 1px;
    top: 26%; }

.inbox .column1 {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 5.3195686481%;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* accessibility */
  /* hover style just for information */
  position: relative;
  padding: 1em 0;
  /* checkbox aspect */
  /* checked mark aspect */ }
  .inbox .column1:last-child {
    margin-right: 0; }
  .inbox .column1 [type="checkbox"]:not(:checked),
  .inbox .column1 [type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
  .inbox .column1 [type="checkbox"]:not(:checked) + label,
  .inbox .column1 [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    margin-right: 1em;
    margin: 0 1em 1em 0;
    cursor: pointer; }
  .inbox .column1 [type="checkbox"]:not(:checked) + label:before,
  .inbox .column1 [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 0px;
    left: 0%;
    margin-left: 0px; }
  .inbox .column1 [type="checkbox"]:not(:checked) + label:after,
  .inbox .column1 [type="checkbox"]:checked + label:after {
    content: '';
    background: url(../img/assets.svg);
    width: 10px;
    height: 10px;
    background-position: 0px -96px;
    position: absolute;
    left: 3px;
    top: 5px;
    margin-top: -2px;
    font-size: 18px;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .inbox .column1 [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0); }
  .inbox .column1 [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1); }
  .inbox .column1 [type="checkbox"]:disabled:not(:checked) + label:before,
  .inbox .column1 [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd; }
  .inbox .column1 [type="checkbox"]:disabled:checked + label:after {
    color: #999; }
  .inbox .column1 [type="checkbox"]:disabled + label {
    color: #aaa; }
  .inbox .column1 [type="checkbox"]:checked:focus + label:before,
  .inbox .column1 [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #b2d7e0; }
  .inbox .column1 label:hover:before {
    border: 1px solid #c9e5de; }
  .inbox .column1 [type="checkbox"]:not(:checked) + label:before,
  .inbox .column1 [type="checkbox"]:checked + label:before {
    left: 16px;
    top: 18px; }
  .inbox .column1 [type="checkbox"]:not(:checked) + label:after,
  .inbox .column1 [type="checkbox"]:checked + label:after {
    left: 19px;
    top: 23px; }
  .inbox .column1:after {
    display: none; }

.inbox .column1__select {
  position: relative;
  height: 48px;
  padding: 0; }
  .inbox .column1__select:before {
    content: "";
    position: absolute;
    width: 48px;
    height: 100%;
    background-color: #e9e9e9; }

.inbox .column2 {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 18.2305365597%;
  padding: 1em 0; }
  .inbox .column2:last-child {
    margin-right: 0; }

.inbox .column3 {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 26.8378485008%;
  padding: 1em 0;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }
  .inbox .column3:last-child {
    margin-right: 0; }

.inbox .column4 {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 26.8378485008%;
  padding: 1em 1em 1em 0;
  font-family: "open_sanslight_italic", Helvetica, sans-serif;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis; }
  .inbox .column4:last-child {
    margin-right: 0; }

.inbox .column5 {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 9.6232246186%;
  padding: 1em 0; }
  .inbox .column5:last-child {
    margin-right: 0; }
  .inbox .column5:after {
    display: none; }

@media (min-width: 1280px) {
  .inbox a {
    font-size: 1em; } }

.message__row {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-left: 0;
  max-width: none;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 0.6180469716em;
  -webkit-transition: all 0.24s ease-in;
  -moz-transition: all 0.24s ease-in;
  -ms-transition: all 0.24s ease-in;
  -o-transition: all 0.24s ease-in;
  transition: all 0.24s ease-in; }
  .message__row::after {
    clear: both;
    content: "";
    display: table; }
  .message__row:hover {
    background-color: #e5e5e5; }

.message__row.new {
  background-color: #e8f3f6;
  font-family: "open_sanssemibold", Helvetica, sans-serif; }
  .message__row.new .column:after {
    background-color: #93c5da; }
  .message__row.new .column1__select:before {
    background-color: #b2d7e0; }
  .message__row.new:hover {
    background-color: #d6e9ef; }
    .message__row.new:hover .column1__select:before {
      background-color: #e8f3f6, 5%; }

.message__from {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  background-color: #e8f3f6;
  margin-left: 0;
  position: relative;
  height: 60px;
  padding: 0.6180469716em 0;
  max-width: none; }
  .message__from::after {
    clear: both;
    content: "";
    display: table; }
  .message__from .from__image {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 13.9268805892%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 1em;
    box-shadow: 0px 0px 0px 2px white; }
    .message__from .from__image:last-child {
      margin-right: 0; }
  .message__from .from__info {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 65.5707522357%;
    padding: 0.3819820591em 0; }
    .message__from .from__info:last-child {
      margin-right: 0; }
    .message__from .from__info .info__name {
      font-family: "open_sanssemibold", Helvetica, sans-serif;
      display: inline-block;
      position: relative;
      font-size: 1em;
      padding-right: 1em; }
      .message__from .from__info .info__name:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 42px;
        background-color: #93c5da;
        right: -4px;
        top: -12px; }
    .message__from .from__info .info__group {
      font-size: 1em;
      display: inline-block;
      margin-top: 0.3819820591em;
      padding-left: 1em; }
    @media (min-width: 1280px) {
      .message__from .from__info {
        font-size: 1.125em;
        padding: 0.2360828548em 0; } }
  .message__from .from__date {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 13.9268805892%;
    font-size: 0.875em;
    font-family: "open_sansregular", Helvetica, sans-serif;
    padding: 1em 0;
    position: relative;
    padding-left: 1.618em; }
    .message__from .from__date:last-child {
      margin-right: 0; }
    .message__from .from__date:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 42px;
      background-color: #93c5da;
      left: 0px;
      top: -1px; }
    @media (min-width: 1280px) {
      .message__from .from__date {
        font-size: 0.9375em; } }

.message__content {
  position: relative;
  background-color: #e8f3f6;
  margin-top: 1em;
  padding: 1.618em 1.618em 2.617924em 1.618em; }
  .message__content h3 {
    margin-bottom: 4.235801032em;
    position: relative; }
    .message__content h3:after {
      content: "";
      height: 1px;
      width: 100%;
      background-color: #b2d7e0;
      position: absolute;
      left: 0;
      top: 42px; }
  .message__content p {
    font-family: "open_sanslight", Helvetica, sans-serif;
    padding-right: 4.235801032em; }

.default-form {
  margin: 1em 0 1.618em 0; }
  .default-form .form__row {
    overflow: hidden;
    margin-bottom: 1em;
    width: 100%;
    position: relative;
    /* Base for label styling */
    /* checkbox aspect */
    /* checked mark aspect */
    /* checked mark aspect changes */
    /* disabled checkbox */
    /* accessibility */
    /* hover style just for information */ }
    .default-form .form__row label {
      display: inline-block;
      width: 25%; }
      .default-form .form__row label:first-child {
        width: 10%; }
    .default-form .form__row input[type=text], .default-form .form__row input[type=password] {
      border: 1px solid #b2d7e0;
      width: 49%;
      padding: 0.6180469716em; }
      @media (min-width: 1280px) {
        .default-form .form__row input[type=text], .default-form .form__row input[type=password] {
          padding: 0.7180469716em;
          font-size: 1.125em; } }
    .default-form .form__row ::-webkit-input-placeholder {
      color: #020c0d; }
    .default-form .form__row :-moz-placeholder {
      color: #020c0d; }
    .default-form .form__row ::-moz-placeholder {
      color: #020c0d; }
    .default-form .form__row :-ms-input-placeholder {
      color: #020c0d; }
    .default-form .form__row [type="checkbox"]:not(:checked),
    .default-form .form__row [type="checkbox"]:checked {
      position: absolute;
      left: -9999px; }
    .default-form .form__row [type="checkbox"]:not(:checked) + label,
    .default-form .form__row [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 30px;
      margin-right: 1em;
      margin: 0 1em 1em 0;
      cursor: pointer; }
    .default-form .form__row [type="checkbox"]:not(:checked) + label:before,
    .default-form .form__row [type="checkbox"]:checked + label:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background: white;
      border-radius: 0px;
      left: 0%;
      margin-left: 0px; }
    .default-form .form__row [type="checkbox"]:not(:checked) + label:after,
    .default-form .form__row [type="checkbox"]:checked + label:after {
      content: '';
      background: url(../img/assets.svg);
      width: 10px;
      height: 10px;
      background-position: 0px -96px;
      position: absolute;
      left: 3px;
      top: 5px;
      margin-top: -2px;
      font-size: 18px;
      line-height: 0.8;
      color: #09ad7e;
      transition: all .2s;
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .default-form .form__row [type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0); }
    .default-form .form__row [type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1); }
    .default-form .form__row [type="checkbox"]:disabled:not(:checked) + label:before,
    .default-form .form__row [type="checkbox"]:disabled:checked + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd; }
    .default-form .form__row [type="checkbox"]:disabled:checked + label:after {
      color: #999; }
    .default-form .form__row [type="checkbox"]:disabled + label {
      color: #aaa; }
    .default-form .form__row [type="checkbox"]:checked:focus + label:before,
    .default-form .form__row [type="checkbox"]:not(:checked):focus + label:before {
      border: 1px solid #b2d7e0; }
    .default-form .form__row label:hover:before {
      border: 1px solid #c9e5de; }
  .default-form .form__row--payment {
    background-color: #e8f3f6;
    padding: 1.1180469716em 0;
    position: relative;
    font-size: 0.9375em; }
    .default-form .form__row--payment:before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      background-color: #b2d7e0;
      left: 0;
      top: 0; }
    .default-form .form__row--payment input[type="radio"] + label span {
      position: relative;
      display: inline-block;
      margin: -4px 40px 0 16px; }
    .default-form .form__row--payment input[type="radio"] + label span {
      border: 0; }
    .default-form .form__row--payment input[type="radio"] + label {
      width: 24%;
      position: relative; }
      .default-form .form__row--payment input[type="radio"] + label:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: #93c5da;
        right: 0;
        top: -7px; }
      @media (min-width: 1280px) {
        .default-form .form__row--payment input[type="radio"] + label {
          width: 18%; } }
    .default-form .form__row--payment span {
      font-family: "open_sanslight", Helvetica, sans-serif;
      padding-left: 4%; }
  .default-form input[type="radio"] {
    display: none; }
  .default-form input[type="radio"] + label {
    padding-left: -1em;
    width: 32%;
    cursor: pointer;
    font-family: "open_sanssemibold", Helvetica, sans-serif; }
    @media (min-width: 1280px) {
      .default-form input[type="radio"] + label {
        width: 26%; } }
  .default-form input[type="radio"] + label span {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -4px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 1em; }
    .default-form input[type="radio"] + label span:before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: white;
      left: 50%;
      margin-left: -3px;
      top: 50%;
      margin-top: -3px;
      -webkit-transition: background-color 0.24s ease-in;
      -moz-transition: background-color 0.24s ease-in;
      -ms-transition: background-color 0.24s ease-in;
      -o-transition: background-color 0.24s ease-in;
      transition: background-color 0.24s ease-in; }
  .default-form input[type="radio"] + label span {
    background-color: white;
    border: 1px solid #93c5da; }
  .default-form input[type="radio"]:checked + label span {
    background-color: white; }
    .default-form input[type="radio"]:checked + label span:before {
      background-color: #465e63; }

.default-form.no-padding .form__row {
  margin-bottom: 0; }
  .default-form.no-padding .form__row:last-child input[type=checkbox] {
    margin-bottom: 0; }
  .default-form.no-padding .form__row:last-child label {
    margin-bottom: 0.2360828548em; }

.payment {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.617924em;
  border-top: 1px solid #020c0d;
  padding-top: 2.617924em; }
  .payment::after {
    clear: both;
    content: "";
    display: table; }
  .payment .payment__block {
    float: left;
    display: block;
    margin-right: 3.287743293%;
    width: 48.3561283535%; }
    .payment .payment__block:last-child {
      margin-right: 0; }
    .payment .payment__block h3 {
      margin-bottom: 2.617924em;
      font-size: 1.0625em; }

.payment__dropdown {
  position: relative;
  background-color: #e8f3f6;
  bottom: -1.1em;
  overflow: hidden;
  max-height: 0;
  box-sizing: border-box;
  -webkit-transition: max-height 0.24s ease-in;
  -moz-transition: max-height 0.24s ease-in;
  -ms-transition: max-height 0.24s ease-in;
  -o-transition: max-height 0.24s ease-in;
  transition: max-height 0.24s ease-in; }
  .payment__dropdown span {
    padding-left: 0 !important;
    display: block;
    margin-bottom: 1em;
    font-family: "open_sansregular", Helvetica, sans-serif !important; }
  .payment__dropdown img {
    margin-right: 0.6180469716em; }
  .payment__dropdown .btn, .payment__dropdown .btn--large, .payment__dropdown .btn--more, .payment__dropdown .btn--dropdown, .payment__dropdown .btn--form, .payment__dropdown .btn--change, .payment__dropdown .btn--remove {
    display: block;
    margin-top: 1em; }
  .payment__dropdown .contact__select {
    position: relative;
    margin: 0.3819820591em 0;
    width: 33%; }
    .payment__dropdown .contact__select select {
      position: relative;
      background: white;
      border: 1px solid #b2d7e0;
      width: 100%;
      padding: 1em;
      border-radius: 0;
      text-transform: uppercase; }
    .payment__dropdown .contact__select:before {
      content: '';
      position: absolute;
      width: 52px;
      height: 100%;
      background-color: #b2d7e0;
      z-index: 1;
      right: 0; }
    .payment__dropdown .contact__select:after {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      background-position: -768px 0px;
      width: 14px;
      height: 8px;
      top: 50%;
      margin-top: -4px;
      right: 19px;
      z-index: 1; }

.form__row--payment.show .payment__dropdown {
  max-height: 20em;
  padding: 1.618em 0 1.618em 4.735801032em; }

.messages__list {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 1;
  -webkit-transition: all 0.24s ease-in;
  -moz-transition: all 0.24s ease-in;
  -ms-transition: all 0.24s ease-in;
  -o-transition: all 0.24s ease-in;
  transition: all 0.24s ease-in; }
  .messages__list li a {
    margin-bottom: 0 !important; }

.messages__list.show {
  max-height: 15em; }

.changechild__wrapper .changechild {
  float: left;
  display: block;
  margin-right: 3.287743293%;
  width: 31.1415044713%;
  background-color: #e8f3f6;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2.617924em 0 0 0; }
  .changechild__wrapper .changechild:last-child {
    margin-right: 0; }
  .changechild__wrapper .changechild:nth-child(3n) {
    margin-right: 0; }
  .changechild__wrapper .changechild:nth-child(3n+1) {
    clear: left; }
  .changechild__wrapper .changechild .child__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 4px white; }
  .changechild__wrapper .changechild span {
    display: block;
    margin-top: 0.6180469716em; }
  .changechild__wrapper .changechild .child__name {
    font-family: "open_sansregular", Helvetica, sans-serif;
    margin-top: 1em; }
  .changechild__wrapper .changechild .child__group {
    font-size: 0.875em; }
  .changechild__wrapper .changechild .child__expired {
    margin: 1em 0 2.617924em 0;
    margin-bottom: 2.617924em;
    font-size: 0.875em;
    font-family: "open_sanslight_italic", Helvetica, sans-serif; }
  .changechild__wrapper .changechild .btn, .changechild__wrapper .changechild .btn--large, .changechild__wrapper .changechild .btn--more, .changechild__wrapper .changechild .btn--dropdown, .changechild__wrapper .changechild .btn--form, .changechild__wrapper .changechild .btn--change, .changechild__wrapper .changechild .btn--remove {
    width: 100%; }
  @media (min-width: 1280px) {
    .changechild__wrapper .changechild {
      float: left;
      display: block;
      margin-right: 3.287743293%;
      width: 22.5341925302%; }
      .changechild__wrapper .changechild:last-child {
        margin-right: 0; }
      .changechild__wrapper .changechild:nth-child(3n) {
        margin-right: 3.287743293%; }
      .changechild__wrapper .changechild:nth-child(3n+1) {
        clear: none; }
      .changechild__wrapper .changechild:nth-child(4n) {
        margin-right: 0; }
      .changechild__wrapper .changechild:nth-child(4n+1) {
        clear: left; }
      .changechild__wrapper .changechild .child__image {
        width: 60px;
        height: 60px; }
      .changechild__wrapper .changechild .child__name {
        font-size: 1.125em; }
      .changechild__wrapper .changechild .child__group {
        font-size: 0.9375em; }
      .changechild__wrapper .changechild .child__expired {
        font-size: 0.9375em; } }

.changechild__wrapper .changechild--add {
  height: 252px;
  position: relative;
  z-index: 0;
  clear: none !important; }
  .changechild__wrapper .changechild--add:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    width: 24px;
    height: 24px;
    background-position: -96px -96px;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -12px; }
  .changechild__wrapper .changechild--add a {
    height: 100%;
    width: 100%;
    display: block;
    z-index: 1; }
  .changechild__wrapper .changechild--add span {
    display: block;
    margin-top: 0.6180469716em;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "open_sansregular", Helvetica, sans-serif;
    color: #020c0d;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  @media (min-width: 1280px) {
    .changechild__wrapper .changechild--add {
      height: 282px;
      padding: 0; }
      .changechild__wrapper .changechild--add span {
        width: 65%; } }

.changechild__wrapper .changechild--whole {
  width: 100%;
  background-color: #e8f3f6;
  margin-top: 3.617924em;
  margin-bottom: 1em;
  padding: 1.618em 0 0 1.618em;
  position: relative; }
  .changechild__wrapper .changechild--whole .btn, .changechild__wrapper .changechild--whole .btn--large, .changechild__wrapper .changechild--whole .btn--more, .changechild__wrapper .changechild--whole .btn--dropdown, .changechild__wrapper .changechild--whole .btn--form, .changechild__wrapper .changechild--whole .btn--change, .changechild__wrapper .changechild--whole .btn--remove {
    width: 265px;
    margin-bottom: 1.618em; }
  .changechild__wrapper .changechild--whole .changechild__row {
    width: 100%;
    margin-bottom: 1.618em; }
    .changechild__wrapper .changechild--whole .changechild__row .child__image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 4px white;
      float: left; }
    .changechild__wrapper .changechild--whole .changechild__row .child__name {
      font-family: "open_sansregular", Helvetica, sans-serif;
      position: relative; }
      .changechild__wrapper .changechild--whole .changechild__row .child__name:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: #93c5da;
        right: -4px;
        top: 50%;
        margin-top: -15px; }
    .changechild__wrapper .changechild--whole .changechild__row .child__expired {
      font-family: "open_sanslight_italic", Helvetica, sans-serif; }
    .changechild__wrapper .changechild--whole .changechild__row span {
      padding: 1em;
      display: inline-block; }
    @media (min-width: 1280px) {
      .changechild__wrapper .changechild--whole .changechild__row .child__image {
        width: 60px;
        height: 60px; }
      .changechild__wrapper .changechild--whole .changechild__row .child__name, .changechild__wrapper .changechild--whole .changechild__row .child__expired {
        font-size: 1.125em; } }

.changechild__wrapper .changechild--whole--inactive {
  background-color: #f2f2f2; }

.changechild__wrapper .child__expand {
  position: absolute;
  right: 2.617924em;
  top: 50%;
  margin-top: -8px;
  max-width: 14px;
  text-indent: -9999px; }
  .changechild__wrapper .child__expand:focus {
    outline: 0; }
  .changechild__wrapper .child__expand:before {
    content: "";
    position: absolute;
    background: url(../img/assets.svg);
    background-position: -864px 0px;
    width: 14px;
    height: 8px;
    top: 50%;
    right: 0;
    margin-top: -4px;
    -webkit-transition: transform 0.24s ease-in;
    -moz-transition: transform 0.24s ease-in;
    -ms-transition: transform 0.24s ease-in;
    -o-transition: transform 0.24s ease-in;
    transition: transform 0.24s ease-in; }

.changechild__wrapper .child__expand.changechild__colapse:before {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.changechild__wrapper .changechild__buttons {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.24s ease-in;
  -moz-transition: max-height 0.24s ease-in;
  -ms-transition: max-height 0.24s ease-in;
  -o-transition: max-height 0.24s ease-in;
  transition: max-height 0.24s ease-in; }

.changechild__wrapper .changechild__buttons.changechild__colapse {
  max-height: 8em; }

.switches {
  margin-top: 2.617924em; }

.switch__row {
  padding: 1em 0;
  position: relative;
  border-top: 1px solid #b2d7e0;
  overflow: hidden; }
  .switch__row:last-child {
    border-bottom: 1px solid #b2d7e0; }
  .switch__row .switch__name {
    font-family: "open_sansregular", Helvetica, sans-serif; }
  @media (min-width: 1280px) {
    .switch__row {
      font-size: 1.125em; } }

.switch {
  display: inline-block;
  position: relative;
  margin-top: -3px; }
  .switch span {
    margin-right: 0.6180469716em;
    margin-left: 0.6180469716em; }

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden; }

.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  bottom: 0; }

input.cmn-toggle-round + label {
  width: 40px;
  height: 20px;
  border-radius: 60px; }
  @media (min-width: 1280px) {
    input.cmn-toggle-round + label {
      width: 48px;
      height: 24px; } }

input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 4px;
  left: 0px;
  bottom: -4px;
  content: ""; }
  @media (min-width: 1280px) {
    input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
      width: 23px; } }

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #b8b8b8;
  width: 90%;
  border-radius: 60px;
  -webkit-transition: background 0.24s ease-in;
  -moz-transition: background 0.24s ease-in;
  -ms-transition: background 0.24s ease-in;
  -o-transition: background 0.24s ease-in;
  transition: background 0.24s ease-in; }

input.cmn-toggle-round + label:after {
  width: 19px;
  background-color: #e9e9e9;
  border-radius: 100%;
  -webkit-transition: margin 0.24s ease-in;
  -moz-transition: margin 0.24s ease-in;
  -ms-transition: margin 0.24s ease-in;
  -o-transition: margin 0.24s ease-in;
  transition: margin 0.24s ease-in; }
  @media (min-width: 1280px) {
    input.cmn-toggle-round + label:after {
      width: 23px; } }

input.cmn-toggle-round:checked + label:before {
  background-color: #a8d1e1; }

input.cmn-toggle-round:checked + label:after {
  margin-left: 20px; }

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  z-index: 102;
  text-align: center;
  padding: 4.235801032em 2.617924em;
  opacity: 0;
  visibility: hidden;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.24s ease-in;
  -moz-transition: opacity 0.24s ease-in;
  -ms-transition: opacity 0.24s ease-in;
  -o-transition: opacity 0.24s ease-in;
  transition: opacity 0.24s ease-in; }
  .popup .close {
    position: absolute;
    top: 1.618em;
    right: 1.618em;
    width: 20px;
    height: 20px; }
    .popup .close:before {
      content: "";
      position: absolute;
      background: url(../img/assets.svg);
      width: 22px;
      height: 22px;
      background-position: -576px -192px;
      left: 0;
      -webkit-transition: transform 0.24s ease-in;
      -moz-transition: transform 0.24s ease-in;
      -ms-transition: transform 0.24s ease-in;
      -o-transition: transform 0.24s ease-in;
      transition: transform 0.24s ease-in; }
    .popup .close:hover:before {
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg); }
  .popup h1 {
    margin-top: 0;
    margin-bottom: 1em;
    text-transform: uppercase; }
  .popup p {
    margin-bottom: 2.617924em;
    padding: 0 1.618em; }

.popup.show {
  opacity: 1;
  visibility: visible; }

.site-canvas--inlog {
  background: url(../img/bg-blue.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative; }
  .site-canvas--inlog .logo {
    position: absolute;
    top: 2.617924em;
    left: 2.617924em; }

.center__block {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #e8f3f6;
  padding: 3.617924em; }
  .center__block h1 {
    margin-bottom: 1em;
    margin-top: 0;
    text-transform: uppercase;
    color: #465e63; }
  .center__block .default-form .form__row input {
    width: 100%;
    margin-bottom: 0.6180469716em; }
  .center__block .default-form .form__row .forget__password {
    display: block;
    margin-top: 1em;
    text-decoration: underline;
    color: #020c0d;
    font-family: "open_sanslight_italic", Helvetica, sans-serif;
    font-size: 0.9375em; }
  .center__block .default-form .form__row--buttons {
    margin-top: 2.617924em; }
    .center__block .default-form .form__row--buttons .btn, .center__block .default-form .form__row--buttons .btn--large, .center__block .default-form .form__row--buttons .btn--more, .center__block .default-form .form__row--buttons .btn--dropdown, .center__block .default-form .form__row--buttons .btn--form, .center__block .default-form .form__row--buttons .btn--change, .center__block .default-form .form__row--buttons .btn--remove, .center__block .default-form .form__row--buttons .btn--dark {
      width: 48%; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=style.css.map */